<section class="section section-blog-list" id="sectionBlogList">
  <div class="container">
    <div id="portfolioGrid" class="row portfolio-container blog-list-container">
      <figure class="col-md-6 col-lg-4 portfolio-item blog-list-item">
        <div class="blog-item__inner">
          <a href="blog-single.html">
            
          </a>
          <div class="blog-item__details">
            <a href="blog-single.html">
              <figcaption class="blog-item__title">
                Is time to coffee
              </figcaption>
            </a>
            <p class="blog-item__description">
              Sit mollitia tempore quod dolore facilis Reprehenderit deleniti
              dolores reprehenderit deleniti eligendi Doloremque laborum
              repudiandae cumque voluptatem necessitatibus! Asperiores
              perferendis
            </p>
            <p class="blog-item__date">December 20, 2020</p>
          </div>
        </div>
      </figure>

      <figure class="col-md-6 col-lg-4 portfolio-item blog-list-item">
        <div class="blog-item__inner">
          <a href="blog-single.html">
            
          </a>
          <div class="blog-item__details">
            <a href="blog-single.html">
              <figcaption class="blog-item__title">Mobile Life</figcaption>
            </a>
            <p class="blog-item__description">
              Elit deserunt aut aliquid ipsum nam optio? Repellat dolorum
              molestiae.
            </p>
            <p class="blog-item__date">January 1, 2021</p>
          </div>
        </div>
      </figure>

      <figure class="col-md-6 col-lg-4 portfolio-item blog-list-item">
        <div class="blog-item__inner">
          <a href="blog-single.html">
            
          </a>
          <div class="blog-item__details">
            <a href="blog-single.html">
              <figcaption class="blog-item__title">
                Timelapse of the office setup
              </figcaption>
            </a>
            <p class="blog-item__description">
              Ipsum quidem ex ea voluptatem voluptates Lorem iusto ipsam
              quibusdam delectus autem
            </p>
            <p class="blog-item__date">December 15, 2021</p>
          </div>
        </div>
      </figure>
    </div>
  </div>
</section>
